.vscode/
__pychache__*

src/clustering/dataset/*
!src/clustering/dataset/.gitkeep

*.model
src/datasets/preprocessed_datasets/*
!src/datasets/preprocessed_datasets/.gitkeep

src/datasets/raw_datasets/*
!src/datasets/raw_datasets/.gitkeep

src/datasets/unused_datasets/
src/old-experiments/

src/old_README.md

wandb*
